.App{
    display: flex;
}
.dashboard1{
    width: 79.2rem;
    background-color: #dbfbfc;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 50px
}
.header input[type="text"] {
    border: none;
    height: 28px;
    border-radius: 5px;
    margin-top: 13px;
}
